{% extends 'base.html' %}
{% load static %}

{% block titulo %} Tabela {% endblock %}

{% block conteudo %}
<div class="row">
    <div class="col-md-12">
        <h3>Tabela de Exames</h3>   
        <hr>
    </div> <!-- ./col-md-12 -->

    <div class="col-md-5 mb-2">
    <form id="search_form" method="GET" action="{% url 'core:search' %}">
    <select id="doctor_identifier" class="form-control" name="doctor_identifier">
    <option  disabled selected>Filtrar pelo nome do médico.</option>
    {% for obj in medical_exam %}
    <option  name="doctor_identifier" id="doctor" value="{{ obj.doctor_identifier }}" >{{ obj.doctor_name }} </option>
    {% endfor %}
    </select>
    </div> <!-- ./col-md-5 -->
    
    <div class="col-md-5 mb-2">
    <input type="text" name="term" id="query_date" value="{{ request.GET.term }}"
    class="form-control" placeholder="Digite a data do Exame. (Ex: 31/01/2020)">
    </div> <!-- ./col-md-5 -->

    <div class="col-md-2">
        <button type="submit" class="btn btn-success w-100">Pesquisar</button>
      </form>
    </div>

    <div class="col-md-12">
    <table class="table table-striped table border rounded bg-light shadow">
        <thead id="custom-thead">
          <tr>
              <th>Nome do Médico</th>
              <th>Número da Guia</th>
              <th>Data da Consulta</th>
              <th>Valor da Consulta</th>
              <th>Gasto por Consulta</th>
              <th>Qtde Exames</th>
          </tr>
        </thead>
        <tbody id="custom-tbody">
          {% for object in object_list %}
          <tr id="custom-tr">
            <td id="doctor_name">{{ object.guide_number.doctor_name }}</td>
              <td id="guide_number">{{ object.guide_number }}</th>
              <td id="query_date">{{ object.guide_number.query_date|date:"d/m/Y" }}</td>
              <td id="query_value">{{ object.guide_number.query_value }}</td>
              <td id="total_value">{{ object.guide_number.total_value }}</td>
              <td id="exam_times">{{ object.exam_times }}</td>
            {% endfor %}
          </tr>


        </tbody>
      </table>
      <tfoot>
        <span id="custom-tfoot">
        {% include 'parciais/_pagination.html' %}
        </span>  
      </tfoot>
    </div> <!-- ./col-md-12 -->

<div>  <!-- ./row -->
{% endblock %}